<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DonutQueen</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DonutQueen.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="c-header">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <div class="c-header__logo">
                        <img src="~/images/logo_dq.png" alt="Logo" />
                    </div>
                </div>
                <div class="col-auto ms-auto">
                    <div class="c-header__navigation">
                        <nav role="navigation">
                            <ul>
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="Donut" asp-action="Index">Donuts</a>
                                </li>
                                <li>
                                    <a asp-controller="Winkel" asp-action="Index">Winkels</a>
                                </li>
                                <li>
                                    <a asp-controller="Admin" asp-action="Index">Admin</a>
                                </li>
                                <li>
                                    <a asp-controller="Contact" asp-action="Index">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-auto">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="c-footer">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    &copy; 2023 - DonutQueen
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
